@*@model List<ElectionStat.Models.OiksCoords>

<div class="row">
    <table>
        <tr>
            <th></th>
            <th>ОИК</th>
            <th>Широта</th>
            <th>Долгота</th>
        </tr>*@
        @*@for (int i = 0; i < Model.Length; i++)
            {
                <tr>
                    <td>
                        @Model[i].Oik
                    </td>
                    <td>
                        @Model[i].Latitude
                    </td>
                    <td>
                        @Model[i].Longitude
                    </td>
                </tr>
            }*@
        @*@foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item
                    </td>
                </tr>
            }*@
        @*@foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Oik
                    </td>
                    <td>
                        @item.Latitude
                    </td>
                    <td>
                        @item.Longitude
                    </td>
                </tr>
            }

    </table>
</div>*@
<div class="rgba-background clearfix" id="page">
    <!-- column -->
    <div class="clearfix colelem" id="pu100">
        <!-- group -->
        <div class="grpelem" id="u100"><!-- content --></div>
        <div class="clearfix grpelem" id="u251-4">
            <!-- content -->
            <p>Выборы в Новгородской области</p>
        </div>
        <a class="nonblock nontext grpelem" id="u288" href="mailto:djadja@ngs.ru" target="_blank" title="Написать автору"><!-- state-based BG images --></a>
    </div>
    <div class="clearfix colelem" id="pu103">
        <!-- group -->
        <div class="grpelem" id="u103"><!-- content --></div>
        <div class="grpelem" id="u106"><!-- content --></div>
        <div class="museBGSize grpelem" id="u127"><!-- simple frame --></div>
        <div class="museBGSize grpelem" id="u138"><!-- simple frame --></div>
        <div class="clearfix grpelem" id="u155-10">
            <!-- content -->
            <p id="u155-2">Автор сайта выражает благодарность и уважение Сергею Шпилькину за пробуждение интереса к анализу электоральной статистики.</p>
            <p id="u155-3">&nbsp;</p>
            <p><span id="u155-4">Более подробно о работах Сергея Шпилькина можно прочитать в его </span><a class="nonblock" href="https://podmoskovnik.livejournal.com/" target="_blank" title="Блог Сергея Шпилькина"><span id="u155-5">блоге</span></a><span title="Блог Сергея Шпилькина" id="u155-7">.</span></p>
        </div>
    </div>
    <div class="clearfix colelem" id="ppu169">
        <!-- group -->
        <div class="clearfix grpelem" id="pu169">
            <!-- group -->
            <div class="museBGSize grpelem" id="u169"><!-- simple frame --></div>
            <div class="clearfix grpelem" id="u181-4">
                <!-- content -->
                <p>УИКи Великого Новгорода с разбивкой по округам.</p>
            </div>
            <a class="nonblock nontext shadow grpelem" id="u124" href="/Home/Adreses" target="_blank"><!-- content --></a>
        </div>
        <div class="museBGSize grpelem" id="u158"><!-- simple frame --></div>
        <div class="museBGSize grpelem" id="u172"><!-- simple frame --></div>
        <div class="clearfix grpelem" id="u178-4">
            <!-- content -->
            <p>УИКи Великого Новгорода с адресами домов.</p>
        </div>
        <div class="clearfix grpelem" id="u184-4">
            <!-- content -->
            <p>Результаты голосования на выборах Президента РФ 2018 по Новгородской области.</p>
        </div>
        <a class="nonblock nontext shadow grpelem" id="u121" href="/Home/RezOblPrez2018" target="_blank"><!-- content --></a>
        <a class="nonblock nontext shadow grpelem" id="u109" href="http://uiksvn.somee.com/Adresa/Index" target="_blank"><!-- content --></a>
    </div>
    <div class="clearfix colelem" id="pu257">
        <!-- group -->
        <div class="museBGSize grpelem" id="u257"><!-- simple frame --></div>
        <div class="clearfix grpelem" id="u258-4">
            <!-- content -->
            <p>Результаты голосования на выборах Президента РФ 2018 по ТИКам Новгородской области с возможностью просмотра голосования по УИКам соответствующего района Новгородской области.</p>
        </div>
        <a class="nonblock nontext shadow grpelem" id="u254" href="http://uiksvn.somee.com/RezultVoteObl/RezObl" target="_blank"><!-- content --></a>
    </div>
    <div class="clearfix colelem" id="ppu308">
        <!-- group -->
        <div class="clearfix grpelem" id="pu308">
            <!-- group -->
            <div class="museBGSize grpelem" id="u308"><!-- simple frame --></div>
            <div class="clearfix grpelem" id="u311-4">
                <!-- content -->
                <p>Графический анализ выборов Губернатора Новгородской области 2017</p>
            </div>
            <a class="nonblock nontext shadow grpelem" id="u313" href="chart_2017.html" target="_blank"><!-- content --></a>
        </div>
        <div class="museBGSize grpelem" id="u307"><!-- simple frame --></div>
        <div class="museBGSize grpelem" id="u309"><!-- simple frame --></div>
        <div class="clearfix grpelem" id="u310-4">
            <!-- content -->
            <p>Графический анализ выборов Президента РФ 2018 в Новгородской области.</p>
        </div>
        <div class="clearfix grpelem" id="u312-4">
            <!-- content -->
            <p>Статья на Медузе объясняющая суть графического анализа результатов выборов</p>
        </div>
        <a class="nonblock nontext shadow grpelem" id="u314" href="https://meduza.io/cards/vizhu-mnogo-grafikov-o-falsifikatsii-na-vyborah-chto-oni-znachat" target="_blank"><!-- content --></a>
        <a class="nonblock nontext shadow grpelem" id="u315" href="chart_2018.html" target="_blank"><!-- content --></a>
    </div>
    <div class="clearfix colelem" id="pu496">
        <!-- group -->
        <div class="museBGSize grpelem" id="u496"><!-- simple frame --></div>
        <div class="clearfix grpelem" id="u497-4">
            <!-- content -->
            <p>Результаты голосования на выборах Губернатора Новгородской области 2017 по ТИКам с возможностью просмотра голосования по УИКам соответствующего района.</p>
        </div>
        <a class="nonblock nontext shadow grpelem" id="u498" href="http://uiksvn.somee.com/RezultGuber/RezGuber" target="_blank"><!-- content --></a>
    </div>
    <div class="clearfix colelem" id="u492-4">
        <!-- content -->
        <p><span id="u492">2018 год</span></p>
    </div>
</div>
<div class="preload_images">
    <img class="preload" src="images/mail-u288-r.png?crc=3818825424" alt="" />
</div>
<!-- Other scripts -->
<script type="text/javascript">
    // Decide weather to suppress missing file error or not based on preference setting
    var suppressMissingFileError = false
</script>
<script type="text/javascript">
    window.Muse.assets.check = function (d) {
        if (!window.Muse.assets.checked) {
            window.Muse.assets.checked = !0; var b = {}, c = function (a, b) { if (window.getComputedStyle) { var c = window.getComputedStyle(a, null); return c && c.getPropertyValue(b) || c && c[b] || "" } if (document.documentElement.currentStyle) return (c = a.currentStyle) && c[b] || a.style && a.style[b] || ""; return "" }, a = function (a) {
                if (a.match(/^rgb/)) return a = a.replace(/\s+/g, "").match(/([\d\,]+)/gi)[0].split(","), (parseInt(a[0]) << 16) + (parseInt(a[1]) << 8) + parseInt(a[2]); if (a.match(/^\#/)) return parseInt(a.substr(1),
                    16); return 0
            }, g = function (g) {
                for (var f = document.getElementsByTagName("link"), h = 0; h < f.length; h++)if ("text/css" == f[h].type) { var i = (f[h].href || "").match(/\/?css\/([\w\-]+\.css)\?crc=(\d+)/); if (!i || !i[1] || !i[2]) break; b[i[1]] = i[2] } f = document.createElement("div"); f.className = "version"; f.style.cssText = "display:none; width:1px; height:1px;"; document.getElementsByTagName("body")[0].appendChild(f); for (h = 0; h < Muse.assets.required.length;) {
                    var i = Muse.assets.required[h], l = i.match(/([\w\-\.]+)\.(\w+)$/), k = l && l[1] ?
                        l[1] : null, l = l && l[2] ? l[2] : null; switch (l.toLowerCase()) { case "css": k = k.replace(/\W/gi, "_").replace(/^([^a-z])/gi, "_$1"); f.className += " " + k; k = a(c(f, "color")); l = a(c(f, "backgroundColor")); k != 0 || l != 0 ? (Muse.assets.required.splice(h, 1), "undefined" != typeof b[i] && (k != b[i] >>> 24 || l != (b[i] & 16777215)) && Muse.assets.outOfDate.push(i)) : h++; f.className = "version"; break; case "js": h++; break; default: throw Error("Unsupported file type: " + l); }
                } d ? d().jquery != "1.8.3" && Muse.assets.outOfDate.push("jquery-1.8.3.min.js") : Muse.assets.required.push("jquery-1.8.3.min.js");
                f.parentNode.removeChild(f); if (Muse.assets.outOfDate.length || Muse.assets.required.length) f = "Некоторые файлы на сервере могут отсутствовать или быть некорректными. Очистите кэш-память браузера и повторите попытку. Если проблему не удается устранить, свяжитесь с разработчиками сайта.", g && Muse.assets.outOfDate.length && (f += "\nOut of date: " + Muse.assets.outOfDate.join(",")), g && Muse.assets.required.length && (f += "\nMissing: " + Muse.assets.required.join(",")), suppressMissingFileError ? (f += "\nUse SuppressMissingFileError key in AppPrefs.xml to show missing file error pop up.", console.log(f)) : alert(f)
            }; location && location.search && location.search.match && location.search.match(/muse_debug/gi) ?
                setTimeout(function () { g(!0) }, 5E3) : g()
        }
    };
    var muse_init = function () {
        require.config({ baseUrl: "" }); require(["jquery", "museutils", "whatinput", "jquery.musepolyfill.bgsize"], function (d) {
            var $ = d; $(document).ready(function () {
                try {
                    window.Muse.assets.check($);/* body */
                    Muse.Utils.transformMarkupToFixBrowserProblemsPreInit();/* body */
                    Muse.Utils.prepHyperlinks(true);/* body */
                    Muse.Utils.makeButtonsVisibleAfterSettingMinWidth();/* body */
                    Muse.Utils.showWidgetsWhenReady();/* body */
                    Muse.Utils.transformMarkupToFixBrowserProblems();/* body */
                } catch (b) { if (b && "function" == typeof b.notify ? b.notify() : Muse.Assert.fail("Error calling selector function: " + b), false) throw b; }
            })
        })
    };

</script>
<!-- RequireJS script -->
<script src="scripts/require.js?crc=4157109226" type="text/javascript" async data-main="scripts/museconfig.js?crc=380897831" onload="if (requirejs) requirejs.onError = function(requireType, requireModule) { if (requireType && requireType.toString && requireType.toString().indexOf && 0 <= requireType.toString().indexOf('#scripterror')) window.Muse.assets.check(); }" onerror="window.Muse.assets.check();"></script>
